{% extends 'base.html.twig' %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('voyage_index') }}">Voyages</a></li>
            <li class="breadcrumb-item"><a href="{{ path('voyage_show',{'id' : ticket.voyage.id}) }}">Voyage</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edition du trajet {{ ticket.departure }} -> {{ ticket.arrival }}</li>
        </ol>
    </nav>
    {{ include('ticket/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
