<div class="container">
        <h4>Trajets du voyage {{ voyage.name }}</h4>

        <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Depart</th>
            <th>Arriver</th>
            <th>Siege</th>
            <th>Type</th>
            <th>Numéro</th>
            <th>Gate</th>
            <th>BaggageDrop</th>
            <th>Date de depart</th>
            <th>Date d'arriver</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.departure }}</td>
                <td>{{ ticket.arrival }}</td>
                <td>{{ ticket.seat }}</td>
                <td>{{ utils.getLabelType(ticket.type) }}</td>
                <td>{{ ticket.number }}</td>
                <td>{{ ticket.gate }}</td>
                <td>{{ ticket.baggageDrop }}</td>
                <td>{{ ticket.departureDate ? ticket.departureDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.arrivalDate ? ticket.arrivalDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ticket_show', {'id': ticket.id}) }}" class="glyphicon glyphicon-eye-open"></a>
                    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}" class="glyphicon glyphicon-edit"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <a href="{{ path('ticket_new', {'id': voyage.id}) }}" class="btn btn-primary">Nouveau trajet</a>
</div>

