{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('voyage_index') }}">Voyages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Voyage {{ voyage.name }}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <h4>Duree</h4>
            <p>{{ voyage.duree }}</p>
        </div>
        <div class="col-md-12">
            <h4>Description</h4>
            <p>{{ voyage.description | raw }}</p>
        </div>
        <div class="col-md-12">
            <div class="col-md-1">
                <a href="{{ path('voyage_edit', {'id': voyage.id}) }}" class="btn btn-info">Editer</a>
            </div>
            <div class="col-md-1">
                {{ include('voyage/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    {{ include('ticket/index.html.twig', {tickets: tickets, voyage: voyage}) }}
{% endblock %}
